html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

main {
    background: linear-gradient(135deg, #FFFFFF 100%, #FFF4F4 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
}

#logo {
    width: 100px;
    height: 20.89px;
    position: relative;
    margin: 1.5em auto auto auto;
    padding: 0 13em .5em 0;
}

#hero {
    width: 376px;
    height: 250px;
    margin: 1.2em auto auto auto;
}

h1, h2, p {
    text-align: center;
}


h1, h2 {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: 10.83px;
}

h1 {
    color: #CE9898;
    font-weight: 300;
    height: 42px;
    padding: 0;
    margin: 1em 0 0 0;
}

h2 {
    font-weight: 600;
    height: 84px;
    width: 100%;
    margin: 0;
}

p {
    color: #CE9898;
    font-size: 14px;
    line-height: 22px;
    width: 311px;
    height: 88px;
    left: 32px;
    top: 510px;
    padding-bottom: 1.1em;
}

.text {
    width: 100%;
    margin: auto;
    max-width: 311px;
}

input {
    width: 298px;
    height: 48px;
    left: 32px;
    top: 640px;
    border-radius: 28px;
    border: 1px solid #CE9898;
    padding-left: 16px;
    z-index: 0;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #CE9898;
    opacity: 50%;
    font-family: 'Josefin Sans', sans-serif;
}

.button {
    background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    border-radius: 28px;
    height: 52px;
    width: 100%;
    max-width: 68px;
    border: none;
    margin: -3.2em 0 0 15.57em;
    position: absolute;
}

#arrow {
    position: absolute;
    left: 49%;
    right: 8.73%;
    top: 31.25%;
    bottom: 31.93%;
}

.exclamation {
    color: #FFFFFF;
    background-color: #F96464;
    border-radius: 50%;
    width: 25px;
    height: 19px;
    text-align: center;
    padding-top: 6.2px;
    display: none;
    margin: -2.5em 0 0 13.5em;
    position: absolute;
}

.error {
    color: #F96464;
    position: absolute;
    width: 165px;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    display: none;
    margin: .7em 0 0 1em;
}

.attribution {
    display: none;
}